@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap')

/* from https://fonts.googleapis.com/css2?family=Coustard:wght@400&display=swap&text=busta.win */
@font-face
  font-family: 'Coustard'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(https://fonts.gstatic.com/l/font?kit=3XFpErgg3YsZ5fqUU9UKvWPuRc7V8p0oBirsIMM2&skey=c590e3818c6baa04&v=v16) format('woff2')
