@use 'sass:math'
@import '/node_modules/bootstrap/scss/mixins/color-mode'
h1
  color: $secondary

.card-header
  font-family: $headings-font-family
  color: $headings-color
  font-weight: $headings-font-weight

pre
  margin-bottom: 0 !important

  code
    @extend .card
    padding: var(--#{$prefix}card-spacer-y) var(--#{$prefix}card-spacer-x) !important
    background-color: var(--#{$prefix}card-bg) !important

    &::before
      @extend .card-title
      display: block
      white-space: pre
      color: $figure-caption-color
      font-family: $font-family-base


    &:not([class^="language-"])
      &::before
        content: ">_ code" "\A"

    &.language-
      &shell
        &::before
          content: ">_ shell" "\A"

      &python
        &::before
          content: ">_ python" "\A"

      &rst
        &::before
          content: ">_ rst" "\A"

      &sql
        &::before
          content: ">_ SQL" "\A"

      &typescript
        &::before
          content: ">_ TypeScript" "\A"

      &javascript
        &::before
          content: ">_ Javascript" "\A"

// Subtitle
h2 + .subtitle, h3 + .subtitle
  top: -$headings-margin-bottom
  position: relative

.subtitle
  font-style: italic
  color: $headings-color

dt
  color: $headings-color

dd
  margin-left: 1em


dfn
  font-weight: bold

details
  background-color: $card-bg
  padding-top: var(--bs-card-cap-padding-y)
  border-radius: $border-radius-sm
  padding-bottom: var(--bs-card-cap-padding-y)
  margin-bottom: $paragraph-margin-bottom

  summary
    padding-top: .25em
    padding-bottom: .25em

  summary:hover
    background-color: $highlight-bg
    border-radius: $border-radius-sm

  &>:not(summary)
    margin-left: 1em
    margin-right: 1em

.bquote
  border-left: 2px solid $gray-100
  padding-left: 1em
  >figcaption
    @extend .text-muted

    &:before
      content: "—"


.tooltip-inner
  box-shadow: $box-shadow-lg
