@use 'sass:color'
@use "sass:map"
@import '/node_modules/bootstrap/scss/mixins/color-mode'
@import '/node_modules/bootstrap/scss/functions'

$font-family-sans-serif: "Libre Baskerville", serif !default
$headings-font-family: "EB Garamond", serif !default
$headings-font-weight: 800 !default

$white-yellow: #fffbf5
$white: $white-yellow

$body-bg: $white-yellow
$gray-100: shade-color($white-yellow, 10%)
$gray-200: shade-color($white-yellow, 20%)
$gray-300: shade-color($white-yellow, 30%)
$gray-400: shade-color($white-yellow, 40%)
$gray-500: shade-color($white-yellow, 50%)
$gray-600: shade-color($white-yellow, 60%)
$gray-700: shade-color($white-yellow, 70%)
$gray-800: shade-color($white-yellow, 87%)
$gray-900: shade-color($white-yellow, 90%)

$black: shade-color($white-yellow, 95%)
$red: #CD4F64
$yellow: color.scale(#cda06e, $lightness: -15%)
//$yellow: #cda06e
$orange: #9D510B
$green: rgb(119, 146, 86)
$cyan: #45695F
$blue: #1D7F76

$primary: $red
$primary-faded: color.scale($primary, $lightness: 30%)
$primary-dark: color.scale($primary, $lightness: -50%)
$primary-faded-extra: color.scale($primary, $lightness: 50%)
$secondary: $yellow
$secondary-faded: color.scale($secondary, $lightness: 30%)
$secondary-dark: color.scale($secondary, $lightness: -50%)
$secondary-faded-extra: color.scale($secondary, $lightness: 50%)
$danger: rgb(244, 67, 54)
$green-dark: color.scale($green, $lightness: -50%)
$cyan-dark: color.scale($cyan, $lightness: -50%)
$blue-dark: color.scale($blue, $lightness: -50%)
$orange-dark: color.scale($orange, $lightness: -50%)

$jumbotron-bg: $secondary


$enable-rounded: true
$enable-shadows: true
$enable-smooth-scroll: false
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default

$list-group-bg: #f0f6f3


$navbar-padding-y: 0
$navbar-padding-x: 0.1rem
$navbar-dark-color: $white !default
$navbar-dark-active-color: $white
$navbar-brand-padding-y: 0

// Reset backgrounds
$list-group-bg: transparent
$breadcrumb-bg: transparent
$list-group-hover-bg: lighten($secondary, 25%)
$list-group-active-bg: lighten($secondary, 15%)
$list-group-active-border-color: darken($list-group-active-bg, 5%)
$list-group-action-active-bg: $list-group-active-bg

// code
$code-color: $orange
$code-color-dark: lighten($code-color, 10%)
$code-font-size: .75em


$table-head-bg: $secondary

$border-style: none !important
$border-color: rgba(0, 0, 0, 0)
$border-color-dark: rgba(0, 0, 0, 0)
$border-color-translucent: $border-color
$border-color-translucent-dark: $border-color-translucent
$border-radius: 12px !default
$border-radius-lg: 18px !default
$border-radius-xl: $border-radius-lg*2
$border-radius-sm: 6px !default
$alert-border-radius: $border-radius-lg

$alert-bg-level: -10
$alert-border-level: $alert-bg-level

$spacer: 1rem !default
$headings-margin-bottom: $spacer


$color-mode-type: media-query


// Fonts
// Bootstrap's default
$font-size-base: 1rem
$h1-font-size: $font-size-base * 2.5

$headings-color: $secondary
$headings-color-dark: $headings-color

@include color-mode(light, true)
  --ui-primary: #{$primary}
  --ui-primary-dark: #{$primary-dark}
  --ui-secondary-faded: #{$secondary-faded}
  --ui-secondary-faded-extra: #{$secondary-faded-extra}
  --ui-card-bg: rgba(0, 0, 0, .02)
  --ui-slight-opacity: rgba(0, 0, 0, .07)

@include color-mode(dark, true)
  --ui-primary: #{$primary}
  --ui-secondary-faded: #{$secondary-dark}
  --ui-secondary-faded-extra: #{$secondary}
  --ui-card-bg: #{$gray-800}
  --ui-slight-opacity: rgba(255, 255, 255, .07)

// Card
$card-bg: var(--ui-card-bg)


// Same transition as in bootstrap but adding fill
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, fill .15s ease-in-out, scale .15s ease-in-out
$btn-hover-transform: scale(1.1)
$btn-active-transform: scale(.9)


$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1600px)

// Navs
$link-shade-percentage: 40%