@use '../styles/style' as *

.post-preview
  @include margin-bottom($spacer)

  &:hover
    background-color: rgba($secondary, .25)

    .post-preview__image
      filter: sepia(.2) brightness(.9)

  .card-footer
    text-align: center

  .card-title
    color: $primary

  &__link
    text-decoration: unset
    color: unset

  &__image
    @include border-top-end-radius()
    @include img-fluid()
    background-repeat: no-repeat
    background-position: center
    background-size: cover