@use 'sass:color'
@use 'sass:math'
@use '/ui/styles/style' as *

#logo
  font: italic bolder 2.5em "Permanent Marker", sans-serif
  text-decoration: none
  color: $white
  text-shadow: 2px 2px 0 color.scale($primary, $lightness: -50%)

  &__period
    letter-spacing: -.1em

#timmy
  width: 19vw
  min-width: 50px
  max-width: 120px

// Align to the logo
.main-navigation
  background-size: 100% 100%
  background-repeat: no-repeat
  border-bottom: 3px solid $secondary-faded

  &__nav-link
    padding-left: 0 !important
    color: $white !important

@include media-breakpoint-down(sm)
  .main-navigation

    &__nav-link
      padding: $nav-link-padding-y math.div($nav-link-padding-x, 2)



