@use 'sass:color'
@use 'sass:math'
@use '/ui/styles/style' as *

#logo
  font: italic bold 2.5em "Roboto Slab"
  text-decoration: none
  text-shadow: 1px 1px 1px color.scale($primary, $lightness: -50%)

  &__period
    letter-spacing: -.2em

#timmy
  width: 10vw
  min-width: 50px
  max-width: 120px

// Align to the logo
.main-navigation
  &__nav-link
    padding-left: 0 !important


@include media-breakpoint-down(sm)
  .main-navigation

    &__nav-link
      padding: $nav-link-padding-y math.div($nav-link-padding-x, 2)
